<div class="albumDetailContainer">
<!-- fix image! -->
	<img src="https://dogaalbums.s3.amazonaws.com/{{adc.currentAlbum.albumArt}}" width="400" height="400">

	<div class="albumDisplayHeader">
		<h1 class="albumDisplayAlbumName">{{adc.currentAlbum.albumName}}</h1>
		<a class="albumDisplayArtistLink" href="/artists/{{adc.currentArtist.artistName | removeSpacesThenLowercase}}">
		<h2 class="albumDisplayArtistName">{{adc.currentArtist.artistName}}</h2>
		</a>
	</div>

	<div class="albumTracksList" ng-repeat="track in adc.tracks | orderBy: 'trackNumber'">
		<div class="trackDisplay">
			<span class="albumDisplayTrackNumber">{{track.trackNumber}}. </span>
			<span class="albumDisplayTrackName" ng-click="adc.playTrack(track, adc.currentAlbum, adc.currentArtist)">{{track.trackName}}</span>
		</div>
	</div>








</div>