body {
	background-color:yellow;
}

/*to make navbar skinnier*/
/*.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}*/


li.active {
}
li:hover{

}

li#navbar_links {
    padding-top:7px;
    font-size:18px;
    height:40px;
    color:red;
}
.viewContent {
}
.container-fluid{
    background-color:red;
    height:40px;
    border-radius:20px;
    margin-top:3px;
}

/*if want random colors can use ng-style on this in the navbar*/
.navbarLink{
    color:white;
}
/*this is from bootstrap, inspect chrome to find this again*/
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}
#navbar_links{
    color:none;
}
#navbar_links:hover{
    background-color:green;
}
.nav{
    color:red;
    height:30px;
}
/*remove position fixed if return to prior state*/
.navbarMargin {
    margin-top:4px;
/*  position: fixed;
    z-index:1;*/
}

.navbar-brand {
    font-size:20px;
    height:40px;
}
.navbar-header{
    height:40px
    line-height:0px;
}

.navbar-controller {
    min-width: 1000px;
    height:30px;
}

.navbar-nav{
    height:30px;
    color:none;
}

.navbar-default {
  padding:0px;
  margin: 0 0 3px 0;
  background-color: red;
  border-radius: 25px;
  max-height:0em;
  height:20px;
}


.mainContainer {
	margin-left:30px;
	margin-top:10px;
}

.headColumns {
	margin-top:10px;
    margin-bottom:20px;
	text-align:center;
}

.headContainer{
	margin-top:30px;
	padding:5px;
	margin-bottom:5px;
	display:inline-flex;
	border-radius:10px;
	text-align:center;
	margin:0 auto;
}

.makeNewPost {
    background-color:#11fb19;
    color:grey;
	padding-top:10px;
    padding-bottom:40px;
	font-size: 19px;
	height:59px;
	width:260px;
    border-color:#1a75ff;
    border-width:0px;
    border-style:solid;
	margin-bottom:5px;
	border-radius:10px;
}

.makeNewPost:hover{
	cursor: pointer;
    color:grey;
    background-color:#1a75ff;
}

.newPostContainer{
	margin-top:14px;
	margin-left:30px;
	margin-right:30px;

}


.catalogContainer {
	text-align:center;
	width:97%;
	min-width:1200px;
    max-width:1400px;
	position:relative;
	padding:10px;
	box-sizing: border-box;
	margin: auto 0;
	background: #090d13;
	border-radius:20px;
}

ul.catalogThreads {
    display:block;
	margin-right:40px;
    


	/*
    -moz-column-count: 4;
    columns:4;
    column-gap:0px
	column-fill:balance;
	column-rule:3px;
	column-rule: 1px dotted black;*/


}

.threadDisplay {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

/*#previewLink {
    color:black;
}
#previewLink:hover {
    color:grey;
}*/


.threadPreview {
	background-color: white;
	width:250px;
	height:250px;
	min-width:250px;
	min-height:250px;
	margin:19px;
	border-style:solid;
	border-width:2px;
/*	border-color:grey;
*/	display:inline-block;
	outline:0px;
	border-radius: 18px;
    position: relative;
}

.threadPreview:hover{
    background-color: #fff94d;
}

.previewTag {
    font-size: 17px;
}


.threadPreview .threadPreviewTooltip {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%; 
}

.replyCount {
    color:black;
    font-size: 12px;re
}


.threadPreviewContent {
	padding:15px;

}

.previewTitle {
	font-size:20px;
}

.previewPostTime {
	font-size:15px;
  color:rgb(23, 25, 28);
  background-color:rgb(248, 255, 251);
}

.previewAuthor {
    color:grey;
}

.summaryContainer {
	text-align:center;
	margin:0 auto;
	padding:5px;
}

.previewSummary {
    font-size:11.5px;
	width:200px;
	padding:3px;
	background-color:lightgrey;
    font-color:black;
/*    white-space:nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;*/
    max-height:100px;


    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.previewAuthor {
	font-size:11px;
}

.textEntry {
	width:400px;
	height:150px;
	max-width: 400px;
	max-height:150px;
	padding:10px;
}

.newPost {
	width:500px;
	height:200px;
	background-color:lightgrey;
	padding:20px;
	border-style:solid;
	border-color:yellow;
	margin:10px;
}

.submitPost {
	float:right;
}







#post-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    margin-top:20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

#post-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
    padding:10px;
}

input[type="text"]{
    width: 70%;
    height: 120px;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

textarea#replyThread {
    width: 70%;
    height: 120px;
    padding:20px;
    background:#181c22;
    border:0;
    float:left;
    font-size: 20px;
    color: #989898;
    resize: vertical;
}

button{
    padding: 20px;
    height:60px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

input#imageupload{
    padding: 20px;
    height:60px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

button#uploadimage{
    border-bottom: 2px;
    border-color: 'grey';
}

div.post {
    border-radius: 25px;
    color:rgb(10, 20, 18);
    font-size:44px;
}

div.posts{
    list-style-type: none;
    padding: 7px;
    margin: 0;
}

blockquote.postMessage{
    display:block;
    background-color:white;
    white-space: pre-wrap;
    margin-bottom: 7px;
}

#replyUsername {
    font-size:12px;
    color:lightgrey;
    background-color:rgb(248, 255, 251);
}

.postImage {
	display:block;
}

div.post{
    width: 100%;
    padding: 8px;
    margin: 1px 1px 20px 10px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    background-color:white;
    letter-spacing: 1px;
}

div.post:hover{
    background-color: rgb(255, 248, 255);
    color:rgb(20, 27, 15);
}

span#time{
    font-size:15px;
    color:rgb(23, 25, 28);
    background-color:rgb(248, 255, 251);
}

.browseContainer{
    width: 90%;
    background-color: #fff94d;
    margin:30px;
}

.albumPreview {
    background-color:red;
    max-width:400px;
}



.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  margin: 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.musicPlayerBar {
    background-color:#fff94d;
    margin-top:7px;
    margin-bottom:20px;
    padding:3px;
    padding-left:50px;
}


.musicControllerContainer{
    max-width:40%;
    min-width:420px;
    background-color:#fff94d;
    margin: 0 auto;
    margin-left:40px;
    text-align: center;
    height:70px;
    padding:2px;
    padding-top:10px;
    display:inline-block;
    margin-right:120px;
    float:left;
}

.musicButtonsContainer{
    background-color:#fff94d;
    display:inline-block;
    float:left;
}

.audioButton {
    font-size:12px;
    width:80px;
    height:50px;
    margin:3px;
    padding:3px;
}

.playButton {
    font-size:20px;
}

.musicVolumeContainer{
    margin-top:10px;
    margin:10px;
    display:inline-block;
}

.volumeSlider {
    display:inline-block;
    margin-top:17px;
}

/*setting styles to the range*/
input[type=range] {
  -webkit-appearance: none
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    background-color:black;
    border: 1px solid #bdc3c7;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    cursor: pointer;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 4px;
  border: 1px solid #bdc3c7;
  background-color: black; 
}


.musicPlayerContainer{
    /*
    uncomment for assistance
    border-style:solid;
    border-color:black;
    border-width:1px;*/
    margin-left:20px;
    max-width:55%;
    min-width:55%;
    background-color:#fff94d;
    margin: 0 auto;
    text-align: center;
    height:70px;    
    padding:2px;
    display:inline-block;
}

.musicPlayerArtIconContainer {
    margin:2px;
    margin-top:4px;
    margin-right:0px;
    margin-left:8px;
    background-color:white;
    display:inline-block;
    float:left;
    border:none;
}

.musicPlayerAlbumArtIcon {
    height:70px;
    width:70px;
    display:inline-block;
    border:none;
}
.musicPlayerCoverLink{
    background-color:white;
}

.musicPlayerTimeContainer {
    min-width:80%;
    max-width: 80%;
    height:40px;
    background-color:white;
    margin: 0 auto;
    margin-top:10px;
    display:inline-block;
}

.timeDisplayContainerCurrent {
    columns: 3;
    padding:1px;
    margin-right:4px;
    width:30px;
    height:30px;
    display:inline-block;
}

.timeDisplayContainerRemaining {
    padding:1px;
    margin-left:4px;
    width:30px;
    height:30px;
    display:inline-block;
}

.timeRangeContainer {
    min-width:70%;
    padding:5px;
    padding-top:18px;
    display:inline-block;
}

.musicPlayerCurrentTimeDisplay {
}

.musicPlayerTimeRange {
}

.musicPlayerRemainingTimeDisplay {
}

a.musicPlayerDataLink {
    color:black;
}
a.musicPlayerDataLink:hover {
    color:black;
    text-decoration:none
}
a.musicPlayerCoverLink {
    color:white;
    background-color:white;
    border-width:0px;

}
a.musicPlayerCoverLink:hover {
    color:black;
    text-decoration:none
}

.nowPlayingData{
    display:inline-block;
}
.dataTrackTitle{
    display:inline-block;
    margin-left:35px;
    margin-right:35px;
}
.dataTrackAlbum{
    display:inline-block;
    margin-left:35px;
    margin-right:35px;
}
.dataTrackArtist{
    display:inline-block;
    margin-left:35px;
    margin-right:35px;
}



/*album display*/
.albumDetailContainer{
    min-width:1300px;
    background-color:#0052cc;
    margin-left:20px;
    margin-right:20px;
    border-radius:5px;
}


.albumDetailCover{
    position:relative;
    margin-left:77px;
    margin-top:50px;
    margin-bottom:77px;
    float:left;
    display:inline-block;
}

.albumDetailCover:hover{
    border-width:3px;
    border-color:blue;
    border-style:solid;
}

.albumDetailTextContainer{
    position:relative;
    padding:10px;
    margin-left:123px;
    display:inline-block;
    /*border-style:solid;
    border-color:black;
    border-width:1px;*/
    margin-bottom:100px;
    margin-top:50px;
    background-color:yellow;
}

.albumDetailHeader{
    background-color: yellow;
    padding:5px;
    padding-left:20px;
}

.albumDisplayAlbumName{
    font-size:48px;
}
.albumDisplayAlbumName:hover{
    color:grey;
}

.albumDisplayArtistLink{
    color:black;
}
.albumDisplayArtistLink:hover{
    color:grey;
    text-decoration: none;
}

.albumTracksList{
    min-width:510px;
    max-width:550px;
    background-color:red;
    position: relative;
    padding:1px;
    padding-left:10px;
}

.trackDisplay{
    background-color:red;
}

.trackDisplay:hover{
    background-color:yellow;
}

.albumDisplayTrackName{
    font-size: 20px;
    color:black;
    width:598px;
    min-width:598px;
    display: inline;
}

.albumDisplayTrackName:hover{
    background-color:yellow;
    cursor: pointer;
}

.albumDetailExtraContainer{
    background-color:orange;
    width:1000px;
    height:200px;
    display:flex;
}















.footerContainer{
    text-align: center;
    margin:auto 0;
    max-height: 3%

}

.footer {
    color:red;
    columns:3;
    column-gap:40px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:259px;
    position:relative;
    bottom:0;
    width:60%;
    height:20px;
    background-color:#ffff1a;   /* Height of the footer */
}





.createAlbumContainer{
    padding:20px;
    margin:40px;
    background-color: #ffff1a;
    display:inline-block;
}

.albumEditForm{
    padding:20px;
    margin:20px;
    background-color: #fff94d;
    display:inline-block;
}

.albumEditImageButton{
    float:left;
    display:inline-block;
}

.albumEditName{
    float:left;
    display:inline-block;
}

.albumEditSubmit{
    float:left;
    display:inline-block;
}

.addNewTrack{
    float:left;
    display:inline-block;
}

.albumEditAddTrackFile {
    float:left;
    display:inline-block;
}

.albumEditAddTrackName {
    float:left;
    display:inline-block;
    max-height: 60px
}


.artistPreviewLink {
    color:black;
}

.artistsDisplayContainer{
    display:inline-block;
    padding:20px;
    margin:20px;
    margin-top:4px;
    border-radius:10px;
    border-style:solid;
    border-width:0px;
    background-color:red;
    min-height:500px;
    height:500px;
    width:95%;
    min-width:1000px;
    position:relative;
}

.artistPreviewContainer{
    float:left;
    background-color:white;
    display:inline-block;
    max-height: 240px;
    max-width:240px;
    width:240px;
    height:240px;
    margin:20px;
    padding:10px;
    border-radius:10px;
}
.artistPreviewContainer:hover{
    border-size:2px;
    border-color:yellow;
    border-style:bold;
    background-color:#ff9977;
}


/*artist page*/
.artistDisplayHeaderContainer{  
}

.artistPreviewName{
    font-size:30px;
    margin-left:20px;
}

.artistPreviewImage{
    margin-left:40px;
}



.artistDisplayHeader{
    margin-left:30px;
    margin:20px;
    margin-top:5px;
    background-color:white;
    height:90px;
    display:inline;
    padding:10px;
    float:left;
}
.artistDisplayImageContainer{
    float:left;
    padding:3px;
}
.artistDisplayImage{
    float:left;
    height:70px;
    width:70px;
    display:inline-block;
}
.artistDisplayName{
    font-size:70px;
    height:77px;
    margin-left:10px;
    margin-right:40px;
    display:inline;
}


.artistDisplayAlbumsContainer{
    border-radius:3px;
    display:inline-block;
    min-height:470px;
    max-width:1500px;
    min-width:1300px;
    background-color:red;
    margin-left:20px;
    padding:20px;
}

.artistDisplayAlbums{
    display:inline;
}
.artistDisplayAlbumsHeading{
    font-size:40px;
    margin-left:30px;
}

.artistDisplayAlbumPreview{
    float:left;
    display:inline-block;
    max-height:340px;
    max-width:340px;
    height:340px;
    width:340px;
    margin:25px;
    padding-bottom:0px;
    background-color:white;
}
.artistDisplayAlbumPreview:hover{
    background-color:rgb(255, 248, 255);
}
.artistDisplayAlbumPreviewName{
    height:40px;
    min-height:40px;
    max-height:40px;
    margin:20px;
    margin-bottom:5px;
    display:inline-block;
}
.artistDisplayAlbumPreviewCover{
    height:240px;
    width:240px;
    margin-left:49px;
    margin-bottom:25px;
}
.artistDisplayAlbumPreviewControls{
    background-color:white;
    height:47px;
}
.artistDisplayControlsPlay{
    font-size:25px;
    padding-left:70px;
    padding-top:4px;
    background-color:white;
    min-height:47px;
    width:170px;
    float:left;
}
.artistDisplayControlsPlay:hover{
    background-color:#99ffcc;
    cursor:pointer;
}
.artistDetailAlbumLink{
    color:black;
}
.artistDetailAlbumLink:hover{
    color:black;
}
.artistDisplayControlsAdd{
    font-size:26px;
    padding-left:70px;
    padding-bottom:10px;
    background-color:white;
    min-height:40px;
    width:170px;
    float:left;
    font-weight:bold;
}
.artistDisplayControlsAdd:hover{
    background-color:#99ffcc;
    cursor:pointer;
}
/*.artistDisplayAlbumPreview:hover{
    border-size:4px;
    border-color:yellow;
    border-style:solid;
}*/




.artistDisplayEditAddAlbum{
    display:inline-block;
    position:relative;
    margin:10px;
}

.artistDisplayEditAddAlbumButton{
    display:inline-block;
    width:300px;
    margin:10px;
}
